@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('./header.css');
@import url('./cabecalho.css');
@import url('./metricas.css');
@import url('./vagas.css');
@import url('./depoimento.css');
@import url('./footer.css');

:root{
    --font-principal:'Inter', sans-serif;
    --principalColor--text:#667085;
    --secondColor--text:#3A404E;
    --redColor:#8E2424;
    --blackColor:#101828;
}

body{
    background:white;
    box-sizing:border-box;
    font-family:var(--font-principal);
}
